<!--The nav bar needs to be it's own component-->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <i class="fas fa-user-md"></i>
    - Member Manager
  </a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<div class="container-fluid">
  <!--The left navigation-->
  <div class="row">
    <div class="col-3 left-list">
      <app-list></app-list>
    </div>
    <!--The main content-->
    <div class="col">
      <h1>Welcome to the {{title}}</h1>
      <i class="fas fa-stroopwafel"></i>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>